<!DOCTYPE html>
 <html>
 <head>
     
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>ระบบฐานข้อมูลและเตือนภัยความยากจนบริเวณชายแดน</title>
     <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
 </head>
 <body style="margin: 0">
 <div id="static_data"></div>
 </body>
 </html>

{% block stylesheets %}
    {{ encore_entry_link_tags('static_data') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('static_data') }}
{% endblock %}


